BODY		{ scrollbar-base-color: #000000;
		scrollbar-track-color: #666666;
		scrollbar-face-color: #000000;
		scrollbar-highlight-color: #999999;
		scrollbar-3dlight-color: #666666;
		scrollbar-darkshadow-color: #666666;
		scrollbar-shadow-color: #999999;
		scrollbar-arrow-color: #FFFFFF;
		background-color: #545454; }

TABLE 		{ COLOR: #F0F0F0; FONT: 12px verdana, arial, sans-serif; font-weight: normal; letter-spacing: 0.5px }

.title 		{ COLOR: #F0F0F0; FONT: 14px verdana, arial, sans-serif; font-weight: bold; letter-spacing: 2px }

.subtitle 		{ COLOR: #F0F0F0; FONT: 12px verdana, arial, sans-serif; font-weight: bold; letter-spacing: 2px }

a:link		{ color: #99CCFF; text-decoration: none }

a:visited	{ color: #99CCFF; text-decoration: none }

a:active	{ color: #99CCFF; text-decoration: none }

a:hover		{ color: #99CCFF; text-decoration: none }

.menu		{ font-family: verdana, arial, helvetica, sans;
		  font-size: 11px;
		  letter-spacing: 1.5px;
		  height: 15px;
		  padding-top: 2px;
		  padding-bottom: 2px;
		  padding-left: 4px;
		  padding-right: 4px;
		  cursor:hand;
		  font-weight: bold;
		  text-align: center;
		  line-height: 15px;
		  display: block;
		  white-space: nowrap;
		  border: #999999 0px solid; }


a.menu:link 	{ background-color:#000000; color: #99CCFF; text-decoration:none;}

a.menu:visited 	{ background-color:#000000; color: #99CCFF; text-decoration:none;}

a.menu:active 	{ background-color:#000000; color: #99CCFF; text-decoration:none;}

a.menu:hover 	{ background-color:#333333; color: #F0F0F0; text-decoration:none;}