/*!
Customizations to bootstrap CSS
*/

/*specific elements*/
#pagePanel{
    z-index: 10;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    border-bottom-color: transparent;
    /*color initially set to transparent cause we only show bottom border if pagePanel is fixed top*/

}
#pageHeader{
    margin-top: 0;
    position:relative;
    backface-visibility:hidden;

}
#navList{
    background-color:transparent;
}



/*html tags*/
body {
  margin: 0;
  height: 100%;
}
object{
    margin: 0;
    height:100%;
    width:100%;
}

/*classes*/
.divider{
    height: 100%;
}
.slider-wrapper {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 75%;
}

.title{
    font-weight:bold;
}

.table-contact{
    align-items:center;
    table-layout:auto;
}
.img-contact{

    max-height:175px;
    max-width:175px;

    min-height:56px;
    min-width:56px;

    border: 0.5px solid #c0c0c0;
    flex-basis:90px;
    
}
.container-image {
    align-self:center;
    position:relative;


}

.img-bg{
    min-height: 10%;
    min-width: 10%;

    width: 100%;
    height:auto;
    display:inline;
}
.container-bg-image{
    position:relative;
    top:0;
    left:0;
}
/*Navbar rules*/
.nav-fluid{
    padding-left: 0;
}
.navbar-default{
    background-color:transparent;
    background-image: inherit;
    color:rgb(0,0,0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.navitem{
    color: inherit !important;
    background-image:inherit !important;
    background-color:inherit !important;
    border-right: 0 !important;
    border-left: 0 !important;
}
.navitem:hover{
	/*border-style: solid;*/
	border-color:black;
	color:white !important;
	background-color:#2E2E2E !important;
}
.navitem:target{
    outline: rgba(20, 69, 255, 0.3) solid 0;
    -webkit-animation: pulse 3s infinite;
    -webkit-animation-direction: alternate;
    animation: pulse 3s infinite;
    animation-direction: alternate;

}
.gridContainer{
    //position: relative;
}
.myGrid{
    color: black;
    word-wrap: normal;
    min-height: 400px;
}
.myGridRow{
    height: 50px !important;
}
.ui-grid-cell-contents{
    white-space: normal !important;
}
@keyframes pulse{
    from{
        outline: rgba(20, 69, 255, 0.5) solid 1px;
    }
    to{
        outline: rgba(20, 69, 255, 0.1) solid 2px;
    }
}
@-webkit-keyframes pulse{
    from{
        outline: rgba(20, 69, 255, 0.5) solid 1px;
    }
    to{
        outline: rgba(20, 69, 255, 0.1) solid 2px;
    }
}

/*Mobile device rules*/
@media screen and (max-width: 600px){
	.navbar-default{ 
	background-color:#2E2E2E;
	color:white;
	}
    a{
        color:white;
    }
}



