/*!
Customizations to bootstrap CSS
*/

/*specific elements*/
#pagePanel{
    z-index: 10;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    border-style: hidden;

}
#pageHeader{
    position:relative;
    backface-visibility:hidden;
}
#navList{
    background-color:transparent;
}



/*html tags*/
body {
  margin: 0;
  height: 100%;
}
object{
    margin: 0;
    height:100%;
    width:100%;
}

/*classes*/
.divider{
    height: 100%;
}
.slider-wrapper {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 75%;
}

.title{
    font-weight:bold;
}

.table-contact{
    align-items:center;
    table-layout:auto;
}
.img-contact{

    max-height:175px;
    max-width:175px;

    min-height:56px;
    min-width:56px;

    border: 0.5px solid #c0c0c0;
    flex-basis:90px;
    
}
.container-image {
    align-self:center;
    position:relative;


}

.img-bg{
    min-height: 10%;
    min-width: 10%;

    width: 100%;
    height:auto;
    display:inline;
}
.container-bg-image{
    position:relative;
    top:0;
    left:0;
}
/*Navbar rules*/
.navbar-default{
    background-color:transparent;
    color:rgb(0,0,0);
    background-image: linear-gradient(rgba(72,78,85,0.01), rgba(58,63,68,0.01) 60%, rgba(49,53,57,0.01));
    background-repeat: no-repeat;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.navitem{
    color: inherit !important;
    background-image:inherit !important;
    background-color:inherit !important;
    border-right: 0 !important;
    border-left: 0 !important;


}
.navitem:hover{
	/*border-style: solid;*/
	border-color:black;
	color:white !important;
	background-color:#2E2E2E !important;
}
.navitem:target{
    /*border: 2px solid blue;*/
    outline: rgba(0, 26, 207, 0.3) solid 1px;
    -webkit-animation: pulse 6s infinite;
    animation: pulse 6s infinite;

}
@keyframes pulse{
    100%{outline: rgba(0, 26, 207, 0.5) solid 1px;}
}
@-webkit-keyframes pulse{
    100%{outline: rgba(0, 26, 207, 0.5) solid 1px;}
}

/*Mobile device rules*/
@media screen and (max-width: 600px){
	.navbar-default{ 
	background-color:#2E2E2E;
	color:white;
	}
    a{
        color:white;
    }
}



